<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
    <title>Call-a-Pizza</title>
    {% block head %} {% endblock head %}
</head>

<body>



    <div class="content">

        <nav id="nav">
            <a class="linkMenu" href="{{ url_for('main') }}">HOME</a>
            <a class="linkMenu" href="{{ url_for('products') }}">MENU</a>
            <a class="linkMenu" href="{{ url_for('order') }}"><img id="cart" src="{{ url_for('static',filename='images/cart.png') }}"></a>
        </nav>


        <br>
        <div class="logo">
            Call-a-Pizza
        </div>
        <br>

        <hr class="contentSeperator">

        <br> {% block content %} {% endblock content %}

    </div>



</html>