{% extends "base.html" %} {% block content %}

<div class="form-style-5">
    <form action="#" method="POST">
        <fieldset>
            <legend><span class="number"></span> Customer Info</legend>
            <input type="text" name="CustomerLastName" placeholder="Your Last Name *">
            <input type="text" name="CustomerFirstName" placeholder="Your First Name *">
            <input type="text" name="Address" placeholder="Your Address *">
            <input type="text" name="Zipcode" placeholder="Your Zipcode *">
            <input type="text" name="City" placeholder="Your City *">
            <input type="text" name="PhoneNumber" placeholder="Your Phone Number *">
            <input type="email" name="Email" placeholder="Your Email *">
            <textarea name="AddressComments" placeholder="Additional Address Informations"></textarea>
            <input type="submit" value="Continue" />
    </form>
</div>
</div>

{% endblock content %}