{% extends "base.html" %} {% block content %}

<h3>FEATURED PRODUCTS</h3>

<form action="" method="POST">
    <table class="orderTable">
        {% for pizza in pizzaList %}
        <form action="#" method="POST">
            <tr>
                <td class="orderTableTdProduct">
                    <div class="orderTableProductContainer">
                        <div class="orderTableProductContainerPictureContainer">
                            <img class="orderTablePicture" src="{{ url_for('static',filename='images/pizza1.jpeg') }}">
                        </div>
                        <div class="orderTableProductContainerCaption">
                            <h5 class="orderTableProductTeaserCaption">{{ pizza[0] }}</h5>
                            <h6 class="orderTableProductTeaserCaption">{{ pizza[1] }}</h6>
                            <label for="size">Choose a size:</label>
                            <select id="size" name="{{['size_',pizza[0]]|join}}">
                        <option value="small">small</option>
                        <option value="medium">medium</option>
                        <option value="large">large</option>    
                        </select>
                            <br>
                            <label for="quantity">Choose a quantity:</label>
                            <div class="orderTableDropdown">
                                <select name="{{['quantity_',pizza[0]]|join}}" id="{{['dropDown_',pizza[0]]|join}}">
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                               <option value="7">7</option>
                               <option value="8">8</option>
                               <option value="9">9</option>
                               <option value="10">10</option>
                            </select>
                            </div>
                            <br>
                            <input type="submit" value="Add to cart" name="addToCart">
                        </div>

                    </div>
                </td>
                <td>
                    <div class="orderTableAddionalItemContainer">
                        <h4>Additional Items</h4>
                        <ul class="orderTableAdditionalItemContainerList">
                            <li>
                                <input type="checkbox" name="{{['checkboxSalami_',pizza[0]]|join}}" id="{{['checkboxSalami_',pizza[0]]|join}}">
                                <label for="checkBoxSalami">Salami</label>
                            </li>
                            <li>
                                <input type="checkbox" name="{{['checkboxHam_',pizza[0]]|join}}" id="{{['checkboxHam_',pizza[0]]|join}}">
                                <label for="checkBoxHam">Ham</label>
                            </li>
                            <li>
                                <input type="checkbox" name="{{['checkboxPepperoni_',pizza[0]]|join}}" id="{{['checkboxPepperoni_',pizza[0]]|join}}">
                                <label for="checkBoxPepperoni">Pepperoni</label>
                            </li>
                            <li>
                                <input type="checkbox" name="{{['checkboxJalapenos_',pizza[0]]|join}}" id="{{['checkboxJalapenos_',pizza[0]]|join}}">
                                <label for="checkBoxJalapenos">Jalapenos</label>
                            </li>
                            <li>
                                <input type="checkbox" name="{{['checkboxBlackOlives_',pizza[0]]|join}}" id="{{['checkboxBlackOlives_',pizza[0]]|join}}">
                                <label for="checkBoxBlackOlives">Black Olives</label>
                            </li>
                            <li>
                                <input type="checkbox" name="{{['checkboxRedOnions_',pizza[0]]|join}}" id="{{['checkboxRedOnions_',pizza[0]]|join}}">
                                <label for="checkBoxRedOnions">Red Onions</label>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </form>
        {% endfor %}

    </table>
    <input type="submit" value="Go to cart" name="goToCart">
</form>

{% endblock content %}