{% extends "base.html" %} {% block content %}

<h3>PIZZAS</h3>

<table>
    <tr>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaDiavolo.jpg') }}" alt="Diavolo Pizza">
                    <h4 class="productTeaserCaption">Diavolo Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Salami and bell peper</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaHam.jpg') }}" alt="Ham Pizza">
                    <h4 class="productTeaserCaption">Ham Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Ham, Cheese, and Mashroom</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaHawaii.jpg') }}" alt="Hawaiian Pizza">
                    <h4 class="productTeaserCaption">Hawaiian Pizza</h4>
                    <h5 class="productTeaserCaption">Pineapple, Ham, and Cheese</h5>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaMargherita.jpg') }}" alt="Margherita Pizza">
                    <h4 class="productTeaserCaption">Margherita Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, and Cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaSalami.jpg') }}" alt="Salami Pizza">
                    <h4 class="productTeaserCaption">Salami Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Salami and Cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaSicilia.jpg') }}" alt="Sicilia Pizza">
                    <h4 class="productTeaserCaption">Sicilia Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce,  Spinich, and Cheese</h5>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaTuna.jpg') }}" alt="Tuna Pizza">
                    <h4 class="productTeaserCaption">Tuna Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Tuna and Cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizzaVeggie.jpg') }}" alt="Veggie Pizza">
                    <h4 class="productTeaserCaption">Veggie Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Onion and Bell pepper</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/seasonPizza2.jpg') }}" alt="Season Pizza">
                    <h4 class="productTeaserCaption">Season Pizza</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, bell peper and cheese</h5>
                </div>
            </a>
        </td>
    </tr>

</table>

<br>

<hr class="contentSeperator">
<br>

<h3>DRINKS</h3>

<table>
    <tr>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/cocaCola.jpg') }}" alt="Coca Cola">
                    <h4 class="productTeaserCaption">Coca cola</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pepsi.jpg') }}" alt="Pepsi">
                    <h4 class="productTeaserCaption">Pepsi</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('customerInput') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/fanta.jpg') }}" alt="Fanta">
                    <h4 class="productTeaserCaption">Fanta</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
    </tr>
</table>


{% endblock content %}