{% extends "base.html" %} {% block content %}

<h3>PIZZAS</h3>

<table>
    <tr>
        <td>
            <a href="{{ url_for('products') }}">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza1.jpeg') }}" alt="Pizza Magarita">
                    <h4 class="productTeaserCaption">Pizza Romana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, spinage and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza2.jpeg') }}" alt="Pizza with Ham and Mozzarella">
                    <h4 class="productTeaserCaption">Pizza Rusticana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Mozzarella and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza3.jpeg') }}" alt="Pizza Veggie">
                    <h4 class="productTeaserCaption">Pizza Veggie</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, bell peper and cheese</h5>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza1.jpeg') }}" alt="Pizza Magarita">
                    <h4 class="productTeaserCaption">Pizza Romana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, spinage and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza2.jpeg') }}" alt="Pizza with Ham and Mozzarella">
                    <h4 class="productTeaserCaption">Pizza Rusticana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Mozzarella and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza3.jpeg') }}" alt="Pizza Veggie">
                    <h4 class="productTeaserCaption">Pizza Veggie</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, bell peper and cheese</h5>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza1.jpeg') }}" alt="Pizza Magarita">
                    <h4 class="productTeaserCaption">Pizza Romana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, spinage and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza2.jpeg') }}" alt="Pizza with Ham and Mozzarella">
                    <h4 class="productTeaserCaption">Pizza Rusticana</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, Mozzarella and cheese</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pizza3.jpeg') }}" alt="Pizza Veggie">
                    <h4 class="productTeaserCaption">Pizza Veggie</h4>
                    <h5 class="productTeaserCaption">Tomato sauce, bell peper and cheese</h5>
                </div>
            </a>
        </td>
    </tr>

</table>

<br>

<hr class="contentSeperator">
<br>

<h3>DRINKS</h3>

<table>
    <tr>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/cocaCola.jpg') }}" alt="Coca Cola">
                    <h4 class="productTeaserCaption">Coca cola</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/pepsi.jpg') }}" alt="Pepsi">
                    <h4 class="productTeaserCaption">Pepsi</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="products.html">
                <div class="productTeaser">
                    <img class="featuredImages" src="{{ url_for('static',filename='images/fanta.jpg') }}" alt="Fanta">
                    <h4 class="productTeaserCaption">Fanta</h4>
                    <h5 class="productTeaserCaption">Aluminium can 16oz</h5>
                </div>
            </a>
        </td>
    </tr>
</table>


{% endblock content %}